In [10]:
#importing the required libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time
from selenium.webdriver.common.by import By

In [43]:
#connecting with the drivers
driver=webdriver.Chrome(r"C:\Users\MICROSOFT\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [24]:
#contecting with the website flipkart and extracting reviews of SamSung LED.
driver.get("https://www.flipkart.com/samsung-80-cm-32-inch-hd-ready-led-smart-tv/product-reviews/itm6e40262f4572a?pid=TVSFQXFKMHUDYCJ3&lid=LSTTVSFQXFKMHUDYCJ3IOJXHJ&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST")

In [25]:
counter = 0
data = []

while(counter<1000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>1000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip()
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [26]:
columns = ['Rating', 'Rating Summary', 'Review']
df1 = pd.DataFrame(data, columns=columns)

In [21]:
df1.head()

  Rating     Rating Summary                                             Review
0      1           Horrible                    There is no stand in this pack.
1      1          Worthless                      Next day power IC not working
2      1     Unsatisfactory  PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3      1    Useless product  This model does not come with a table mount.we...
4      1  Absolute rubbish!                        Picture quality is very bad

In [27]:
df1.tail()

,Rating,Rating Summary,Review
996,4,Nice product,Average picture\nAverage sound\nAverage connec...
997,4,Good quality product,"Best picture and sound quality., and demo ,ins..."
998,4,Good choice,Nice
999,4,Worth the money,"Product is durable, package, delivery and inst..."
1000,4,Very Good,Super.... Picture quality.

In [29]:
#connecting with the website extracting reviews of iphone SE
driver.get("https://www.flipkart.com/apple-iphone-se-black-64-gb/product-reviews/itm4d3d5718a5c95?pid=MOBFWQ6BR3MK7AUG&lid=LSTMOBFWQ6BR3MK7AUGGHSWQD&marketplace=FLIPKART")

In [30]:
counter = 0
data = []

while(counter<2000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>2000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip()
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [31]:
columns = ['Rating', 'Rating Summary', 'Review']
df2 = pd.DataFrame(data, columns=columns)

In [32]:
df2.head()

  Rating  Rating Summary                                             Review
0      5       Must buy!  Great device. Let me tell the Pros..\n\n1. Sup...
1      5   Great product  Who all loves older size i.e., 4.7 inch type s...
2      5          Super!  Great camera for pics and videos\nBattery life...
3      5  Classy product  One of Best phone in 2020..Excellent Camera an...
4      5  Simply awesome  This iPhone SE is the best phone ever you get....

In [33]:
df2.tail()

,Rating,Rating Summary,Review
1995,5,Awesome,"Absolutely stunning camera, some people compla..."
1996,5,Mind-blowing purchase,Classy product....as always from Apple
1997,1,Micro phone default - can't hear anything,Very sad with the Iphone for the first time......
1998,3,Good,Don’t Buy:big problem is battery draining very...
1999,1,Terrible product. Battery health dropped to 97...,This is the worst apple product ever. I ordere...

In [34]:
#connecting with the website and extracting reviews of iphone XR
driver.get("https://www.flipkart.com/apple-iphone-xr-yellow-128-gb-includes-earpods-power-adapter/product-reviews/itmf9z7zufda8hj6?pid=MOBF9Z7ZMQEXTUXJ&lid=LSTMOBF9Z7ZMQEXTUXJRTP7GV&aid=overall&certifiedBuyer=false&sortOrder=MOST_HELPFUL")

In [35]:
counter = 0
data = []

while(counter<2000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>2000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip().replace("\n"," ")
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [36]:
columns = ['Rating', 'Rating Summary', 'Review']
df3 = pd.DataFrame(data, columns=columns)

In [37]:
df3.tail()

,Rating,Rating Summary,Review
1996,5,Worth every penny,Nice product
1997,5,Highly recommended,great
1998,4,Nice product,No word to say about xr !’ Better than other p...
1999,5,Brilliant,Good phone in this price range👍👍👍👍
2000,5,Best in the market!,"Amazing deal by Flipkart, this is just pretty ..."

In [44]:
#connecting with the website and extracting information from the flipkart for iphone 6s
driver.get("https://www.flipkart.com/apple-iphone-6s-plus-space-grey-32-gb/product-reviews/itmen2yyjnqsjcrw?pid=MOBEN2YYPGFCZYHT&lid=LSTMOBEN2YYPGFCZYHTIC5F1I&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST")

In [ ]:
counter = 0
data = []

while(counter<2000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>2000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip().replace("\n"," ")
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [51]:
columns = ['Rating', 'Rating Summary', 'Review']
df5 = pd.DataFrame(data, columns=columns)

In [52]:
df5.tail()

,Rating,Rating Summary,Review
1007,5,Highly recommended,Good packing original iphone i like you but de...
1008,5,Excellent,Good but price drop in us as 45000
1009,5,Very nice,Very expensive
1010,5,Facing problem to purchase,I was purchasing iphone 6s plus 16 gb with baj...
1011,5,Exchange issue,Hii flipkart pls provide exchange offer at 177...

In [55]:
#connecting with the website to extract information for oneplus led screens
driver.get("https://www.flipkart.com/oneplus-y-series-100-cm-40-inch-full-hd-led-smart-android-tv/product-reviews/itmdcbd9784403b2?pid=TVSG25MMGB8NKFD8&lid=LSTTVSG25MMGB8NKFD8MWAMJF&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST")

In [56]:
counter = 0
data = []

while(counter<2000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>2000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip().replace("\n"," ")
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [57]:
columns = ['Rating', 'Rating Summary', 'Review']
df6 = pd.DataFrame(data, columns=columns)

In [58]:
df6.tail()

     Rating  Rating Summary                                             Review
1996      5   Great product         Great quality 👍🏻🤝 sound picture is awesome
1997      5   Great product  Good pic quality and sound very good overall g...
1998      5  Classy product                                       Good product
1999      5       Just wow!                                       Good service
2000      5       Brilliant                                       Nice product

In [59]:
frames1=[df1,df2,df3,df5,df6]
df7=pd.concat(frames1)
df7 #concatinating frames in one frame

,Rating,Rating Summary,Review
0,1,Horrible,There is no stand in this pack.
1,1,Worthless,Next day power IC not working
2,1,Unsatisfactory,PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3,1,Useless product,This model does not come with a table mount.we...
4,1,Absolute rubbish!,Picture quality is very bad
...,...,...,...
1996,5,Great product,Great quality 👍🏻🤝 sound picture is awesome
1997,5,Great product,Good pic quality and sound very good overall g...
1998,5,Classy product,Good product
1999,5,Just wow!,Good service
2000,5,Brilliant,Nice product

In [60]:
#connecting with the website to extract information for MI led screens
driver.get("https://www.flipkart.com/mi-4a-pro-80-cm-32-inch-hd-ready-led-smart-android-tv/product-reviews/itmfdwh5jyqhmvzg?pid=TVSG22C4DXQRVSTT&lid=LSTTVSG22C4DXQRVSTTJZD2M0&marketplace=FLIPKART")

In [61]:
counter = 0
data = []

while(counter<3000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>3000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip().replace("\n"," ")
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [62]:
columns = ['Rating', 'Rating Summary', 'Review']
df8 = pd.DataFrame(data, columns=columns)

In [63]:
df8.tail()

,Rating,Rating Summary,Review
2995,5,Highly recommended,Good
2996,5,Simply awesome,Good
2997,5,Simply the best in this price range,"Initially, I was very skeptical about buying T..."
2998,5,Best in the market!,Great one at great price. Smart n sleek.
2999,1,Did not meet expectations,"Internet connectivity not working fine , also ..."

In [65]:
#connecting with the website to extract information for MI led screens
driver.get("https://www.flipkart.com/mi-4a-pro-80-cm-32-inch-hd-ready-led-smart-android-tv/product-reviews/itmfdwh5jyqhmvzg?pid=TVSG22C4DXQRVSTT&lid=LSTTVSG22C4DXQRVSTTJZD2M0&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST")

In [66]:
counter = 0
data = []

while(counter<3000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>3000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip().replace("\n"," ")
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [67]:
columns = ['Rating', 'Rating Summary', 'Review']
df10 = pd.DataFrame(data, columns=columns)

In [68]:
df10.tail()

,Rating,Rating Summary,Review
2996,1,Utterly Disappointed,"Many flaws!! Not recommended, go for branded o..."
2997,1,Waste of money!,already 15 days over demo and installation has...
2998,1,Ordered TV Received a dead piece,Been going back and fourth with flipkart to no...
2999,1,Don't waste your money,Cromecast not work properly
3000,1,Worthless,installation is third class no quality of inst...

In [69]:
frames1=[df7,df8,df10]
df9=pd.concat(frames1)
df9 #concatinating frames in one frame

,Rating,Rating Summary,Review
0,1,Horrible,There is no stand in this pack.
1,1,Worthless,Next day power IC not working
2,1,Unsatisfactory,PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3,1,Useless product,This model does not come with a table mount.we...
4,1,Absolute rubbish!,Picture quality is very bad
...,...,...,...
2996,1,Utterly Disappointed,"Many flaws!! Not recommended, go for branded o..."
2997,1,Waste of money!,already 15 days over demo and installation has...
2998,1,Ordered TV Received a dead piece,Been going back and fourth with flipkart to no...
2999,1,Don't waste your money,Cromecast not work properly
3000,1,Worthless,installation is third class no quality of inst...

In [70]:
df9.dtypes

Rating            object
Rating Summary    object
Review            object
dtype: object

In [72]:
#collecting reviews of MI
driver.get("https://www.flipkart.com/mi-4x-108-cm-43-inch-ultra-hd-4k-led-smart-android-tv/product-reviews/itmab87244d2fead?pid=TVSGFH5PQRTFRTVG&lid=LSTTVSGFH5PQRTFRTVG16L7WZ&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=47")

In [74]:
counter = 0
data = []

while(counter<2000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>2000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip().replace("\n"," ")
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [75]:
columns = ['Rating', 'Rating Summary', 'Review']
df11 = pd.DataFrame(data, columns=columns)

In [76]:
df11.head()

,Rating,Rating Summary,Review
0,2,Slightly disappointed,Don't buy it if you want to experience 4K Cont...
1,2,SD channels not good,Not good for SD channels especially if you are...
2,2,Not good,Pros : 1.Ver good sound quality 2. very good p...
3,2,Bad quality,TV is good but the problem is screen share doe...
4,2,Slightly disappointed,Using after one month I'm writing this review....

In [77]:
df11.tail()

,Rating,Rating Summary,Review
1996,4,Worth the money,Very very best
1997,4,Very Good,Nice product for this price. Video and Sound Q...
1998,4,Good choice,"It been a month, and it's a super cool TV have..."
1999,4,Really Nice,First impression is good.
2000,4,Wonderful,Nice product but on screen some nagitive shads...

In [80]:
frames1=[df9,df11]
df12=pd.concat(frames1)
df12#concatinating frames in one frame

,Rating,Rating Summary,Review
0,1,Horrible,There is no stand in this pack.
1,1,Worthless,Next day power IC not working
2,1,Unsatisfactory,PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3,1,Useless product,This model does not come with a table mount.we...
4,1,Absolute rubbish!,Picture quality is very bad
...,...,...,...
1996,4,Worth the money,Very very best
1997,4,Very Good,Nice product for this price. Video and Sound Q...
1998,4,Good choice,"It been a month, and it's a super cool TV have..."
1999,4,Really Nice,First impression is good.
2000,4,Wonderful,Nice product but on screen some nagitive shads...

In [81]:
#collecting negetive reviews of samsung led
driver.get("https://www.flipkart.com/samsung-80-cm-32-inch-hd-ready-led-smart-tv/product-reviews/itm6e40262f4572a?pid=TVSFQXFKMHUDYCJ3&lid=LSTTVSFQXFKMHUDYCJ3IOJXHJ&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=17")

In [82]:
counter = 0
data = []

while(counter<1000):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>1000):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip().replace("\n"," ")
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [83]:
columns = ['Rating', 'Rating Summary', 'Review']
df13 = pd.DataFrame(data, columns=columns)

In [85]:
df13.head()

,Rating,Rating Summary,Review
0,2,Expected a better product,Received the tv without the stand... They canc...
1,2,Moderate,Not so good picture quality.and installation p...
2,2,Could be way better,Ont ok
3,2,Not good,There is no voice search no Bluetooth no play ...
4,2,Bad quality,Not bqd

In [86]:
df13['Rating'].value_counts()

4    673
3    248
2     78
5      1
Name: Rating, dtype: int64

In [87]:
frames1=[df12,df13]
df14=pd.concat(frames1)
df14                      #concatinating frames in one frame

,Rating,Rating Summary,Review
0,1,Horrible,There is no stand in this pack.
1,1,Worthless,Next day power IC not working
2,1,Unsatisfactory,PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3,1,Useless product,This model does not come with a table mount.we...
4,1,Absolute rubbish!,Picture quality is very bad
...,...,...,...
995,4,Good quality product,Good
996,4,Value-for-money,Picture quality is good . Sound is also pretty...
997,4,Worth the money,Best
998,4,Wonderful,Good
999,4,Good quality product,The delivery from flipkart is on time but the ...

In [111]:
#collecting negetive reviews of iphone xr
driver.get("https://www.flipkart.com/apple-iphone-xr-yellow-128-gb-includes-earpods-power-adapter/product-reviews/itmf9z7zufda8hj6?pid=MOBF9Z7ZMQEXTUXJ&lid=LSTMOBF9Z7ZMQEXTUXJRTP7GV&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=27")

In [112]:
counter = 0
data = []

while(counter<500):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>500):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip()
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [113]:
columns = ['Rating', 'Rating Summary', 'Review']
df17 = pd.DataFrame(data, columns=columns)

In [114]:
df17['Rating'].value_counts()

3    276
4    112
2    105
1      7
5      1
Name: Rating, dtype: int64

In [115]:
frames1=[df14,df17]
df18=pd.concat(frames1)
df18                      #concatinating frames in one frame

,Rating,Rating Summary,Review
0,1,Horrible,There is no stand in this pack.
1,1,Worthless,Next day power IC not working
2,1,Unsatisfactory,PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3,1,Useless product,This model does not come with a table mount.we...
4,1,Absolute rubbish!,Picture quality is very bad
...,...,...,...
496,4,Good choice,Good purchase
497,4,Wonderful,I’m very disappointed by the Flipkart delivery...
498,4,Good quality product,Phone works properly a star less for taking so...
499,4,Satisfied with Service and product delivery..,Received on time with good condition..
500,4,Delightful,The phone is awesome!!!!!!!!

In [116]:
df18['Rating'].value_counts()

5    5870
4    4863
1    4025
3    2081
2     679
Name: Rating, dtype: int64

In [128]:
df20=pd.read_csv("newdataset1.csv")
df20

,Unnamed: 0,Rating,Review,Rating Summary
0,0,5,Everything is nice about this product as menti...,NaN
1,1,5,Its an amazing experience to work on this lapt...,NaN
2,2,5,I did research on laptops for past 2 weeks and...,NaN
3,3,5,"First Of All, I am writing this review after u...",NaN
4,4,5,All as described. Finally a speedy experience ...,NaN
...,...,...,...,...
1897,365,5,Everything is good only issues is Bluetooth co...,Just wow!
1898,366,5,Good,Terrific
1899,367,5,"Very Good product in this price, Performance i...",Fabulous!
1900,368,5,"Nice.,....",Awesome
1901,369,5,Good,Classy product

In [129]:
df20.drop('Unnamed: 0', axis=1, inplace=True)

In [130]:
frames1=[df18,df20]
df21=pd.concat(frames1)
df21                     #concatinating frames in one frame

,Rating,Rating Summary,Review
0,1,Horrible,There is no stand in this pack.
1,1,Worthless,Next day power IC not working
2,1,Unsatisfactory,PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3,1,Useless product,This model does not come with a table mount.we...
4,1,Absolute rubbish!,Picture quality is very bad
...,...,...,...
1897,5,Just wow!,Everything is good only issues is Bluetooth co...
1898,5,Terrific,Good
1899,5,Fabulous!,"Very Good product in this price, Performance i..."
1900,5,Awesome,"Nice.,...."
1901,5,Classy product,Good

In [121]:
#collecting negetive reviews of iphone 12
driver.get("https://www.flipkart.com/apple-iphone-12-black-64-gb/product-reviews/itma2559422bf7c7?pid=MOBFWBYZU5FWK2VP&lid=LSTMOBFWBYZU5FWK2VPUYA8BN&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=20")

In [122]:
counter = 0
data = []

while(counter<800):
    reviews_deck = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")    
    for review in reviews_deck:
        
        if(counter>800):
            break
        else:
            counter+=1
        try:
            review.find_element(By.XPATH,".//div[@class='row']//span[@class='_1BWGvX']").click()
        except:
            pass
        finally:
            rating, review_desc = review.find_elements(By.XPATH,".//div[@class='row']")[:2]
            rating_stars, rating_desc = rating.text[0],rating.text[1:]
        
        rating_stars_ = rating_stars.strip()
        rating_desc_ = rating_desc.strip()
        review_desc_ = review_desc.text.strip()
        data.append([rating_stars_, rating_desc_, review_desc_])
    try:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
    except:
        driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span").click()
        time.sleep(2)

In [123]:
columns = ['Rating', 'Rating Summary', 'Review']
df22 = pd.DataFrame(data, columns=columns)

In [124]:
df22['Rating'].value_counts()

4    560
3    156
2     70
5      8
1      7
Name: Rating, dtype: int64

In [131]:
frames1=[df21,df22]
df23=pd.concat(frames1)
df23                     #concatinating frames in one frame

,Rating,Rating Summary,Review
0,1,Horrible,There is no stand in this pack.
1,1,Worthless,Next day power IC not working
2,1,Unsatisfactory,PLEASE DO NOTE THAT: THE TV DOES NOT COME WITH...
3,1,Useless product,This model does not come with a table mount.we...
4,1,Absolute rubbish!,Picture quality is very bad
...,...,...,...
796,4,Very Good,Good
797,4,Good choice,Good product happy ☺️☺️☺️
798,4,Value-for-money,I was using Samsung s20 plus and upgraded to i...
799,4,Good choice,Good deal
800,4,Pretty good,I love it

In [132]:
df23.to_csv("ratingpredictiondata1.csv")